@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply m-0 p-0 overflow-x-hidden antialiased text-black bg-[#fafafa];
    background-image: radial-gradient(#cbd5e1 1.5px, transparent 1.5px);
    background-size: 30px 30px;
    font-family: 'Inter', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }
}